.header {
  @apply sticky top-0 flex flex-col items-center py-7 bg-white bg-opacity-95;
  backdrop-filter: blur(6px);
}

.header > div {
  @apply container max-w-3xl flex flex-row px-4;
}

.header a {
  @apply font-bold;
}

.header nav {
  @apply ml-auto;
}

.icon svg {
  @apply fill-current text-gray-800;
}

.icon:hover svg {
  @apply fill-current text-black;
}
