.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: 0.9);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  padding: 1.75em 0;

  .container {
    width: 90%;
    max-width: 920px;
    display: flex;
    align-items: center;
  }

  .icon-button {
    svg {
      color: var(--text-color);
    }

    &:hover svg {
      color: var(--heading-color);
    }
  }

  h1 {
    font-size: 1em;
    margin: 0;
  }

  nav {
    margin-left: auto;
  }
}

.link {
  color: var(--heading-color);
  text-decoration: none;
}
